storage/xsl/skrypty/test.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="$Revision: 1.3 $">
	<xs:simpleType name="LEDpresentLSNIType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="LP_NONE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LEDpresentLSNIType2">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="LP_BLINK"/>
		</xs:restriction>
	</xs:simpleType>
	
	<dupa>
		<xs:simpleType name="LEDpresentLSNITypeDupa">
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="LP_STEADY"/>
			</xs:restriction>
		</xs:simpleType>
	</dupa>
	
</xs:schema>