storage/xsl/Orginaly/Main-3-0-0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Lux (Bosch Sicherheitssysteme GmbH) -->
<!--
BOSCH Security Systems (Ottobrunn)

Project: Magic.Panel

Author: Maria Lux

Created: 28.09.2009

$Revision: 1.3 $ 

Last locked:   $Date: 2018/08/30 09:17:33CEST $

Last change by $Author: Bruno Escudeiro (BRE9OVR) $

History: 
$Log: References/ToolsSetup/Main-3-0-0.xsd  $
Revision 1.3 2018/08/30 09:17:33CEST Bruno Escudeiro (BRE9OVR) 
Add led blink support to wireless devices
Revision 1.8 2017/12/12 16:03:02CET Maria Lux (lux2ot) 
restored old version 1.6 + LZ-Mappings-3-0-0.xsd
Revision 1.5 2017/11/09 13:53:32CET Maria Lux (lux2ot) 
changes for PF3 (fire ext, Hongkong)
Revision 1.4 2017/05/23 14:40:41CEST Maria Lux (lux2ot) 
type-id of FPA1100-4 and FMR_8000 corrected
Revision 1.3 2017/02/15 13:18:17CET Maria Lux (lux2ot) 
AVENAR types corrected
Revision 1.2 2017/02/10 13:23:16CET Maria Lux (lux2ot) 
new panel types added
Revision 1.1 2017/02/09 14:31:39CET Maria Lux (lux2ot) 
Initial revision
Member added to project f:/MKS_Repository/Fire/MagicPanel/Source/PCTools/RPSTools/XMLSupport/XMLSupport.pj
Revision 1.3 2016/12/01 15:20:26CET Maria Lux (lux2ot) 
new schema version 2.15.1
Revision 1.2 2016/09/30 09:22:00CEST Maria Lux (lux2ot) 
rearranged the CLOUD_DATA
Revision 1.2 2015/11/20 13:00:35CET Maria Lux (lux2ot) 
updated after correction of defect 322319
Revision 1.1 2015/10/19 10:37:49CEST Maria Lux (lux2ot) 
Initial revision

-->
<!--  the namespaces sch and str are neccessary if schematron processing shall be used. At the moment TrafoValidate2.dll is not able to handle this additional namespaces. As long as schematron is not used and no solution is implemented in TrafoValidat2.dll
        all schematron related parts in the xsd-file must be commented out. In case the schematron features shall be used, TrafoValidate2.dll must be extended regarding the hardcoded XSLT for removing default-values prior schema check.
-->
<!-- used with schematron: <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:str="http://exslt.org/strings" elementFormDefault="qualified" version="$Revision: 1.3 $"> -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="$Revision: 1.3 $">
	<xs:include schemaLocation="Local-3-0-0.xsd"/>
	<xs:include schemaLocation="LZ-Mappings-3-0-0.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<!-- Schematron Validation Rules: 
      <sch:pattern name="RSTP_Restrictions">
        <sch:rule context="SPANNING_TREE">
          <sch:assert test="count(//SPANNING_TREE/redundancyMode) != 0">Element redundancyMode must exist!</sch:assert>
          <sch:assert test=" 2*(//SPANNING_TREE/STP_ForwardDelay -1) >= STP_MaxAge">Rule mismatch: "2 x (STP Forward Delay - 1 second >= STP Max Age"</sch:assert>
        </sch:rule>
      </sch:pattern>
      <sch:pattern name="AddressChecking">
        <sch:rule context="LSN_BUS/node()[position() > 4]">
          <sch:assert test="(siNumber = //NAC_ADMIN/NAC_GROUP/siNumber and siType = 'MP_SI_NAC') 
												or (siNumber = //GROUP_ADMIN/GROUP/siNumber and siType = 'MP_SI_POINT')
												or siType = 'MP_SI_COUPLER'
												or (node()/siType = 'MP_SI_POINT' and node()/siNumber = //GROUP_ADMIN/GROUP/siNumber )">
							No matchin entry in group for entry in logical found!
						</sch:assert>
        </sch:rule>
      </sch:pattern>
      <sch:pattern name="ExportImportChecks">
        <sch:rule context="//IMPORTS/USED_SIS/*">
          <sch:assert test="globalID">Each SI ITEM must have a globalID</sch:assert>
          <sch:assert test="globalID = //EXPORTS/REPLICATED_SIS/node()/globalID">Imported SI item detected with no existing exported SI item!</sch:assert>
        </sch:rule>
      </sch:pattern>
      <sch:pattern name="MaxNumberOfSets">
        <sch:rule context="PANEL">
          <sch:assert test="193 > (count(LSN300_MODULE/LSN_BUS) + count(LSN1500_MODULE/LSN_BUS) + count(LOGICAL_GROUPING/SETS_ADMIN/SET))">
							The number of sets including the implicit sets generated for LSN buses exceeds the allowed maximum			
						</sch:assert>
        </sch:rule>
      </sch:pattern>
      <sch:pattern name="AddressCard_DetectorNumber">
        <sch:rule context="PANEL">
          <sch:report test="sum(str:split( string(maxLSNPoints), ',')) &lt;= (count(LSN300_MODULE/LSN_BUS/node()[position() > 4]) + count(LSN1500_MODULE/LSN_BUS/node()[position() > 4]))">
							Warning: The number of detectors in panel cannot exceed the value configured using Address Cards.
						</sch:report>
        </sch:rule>
      <sch:pattern name="RemoteServices">
        <sch:rule context="REMOTE_SERVICES_NETWORK_DATA">
          <sch:assert test="CLOUD_DATA=false() or P2P_DATA=false()">
							Error: Only either CLOUD_DATA or P2P_DATA allowed.
						</sch:assert>
        </sch:rule>
      </sch:pattern>
      <sch:pattern name="Password">
        <sch:rule context="//OPERATOR/pwd">
          <sch:assert test="text() != ''">password not hashed</sch:assert>
        </sch:rule>
      </sch:pattern>
-->
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="ASSIGNED_MTS_NODES">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="MTS_NODE"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ASSIGNED_OPCSVRS">
		<xs:annotation>
			<xs:documentation source="2.0.2">OPC-Servers can be assigned to a node of type FPA5000 and FPA5000_RK.
At the moment only one OPC-Server may be assigned to a node.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="OPCSERVER"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CAN_PARAM" type="CAN_PARAMType"/>
	<xs:element name="REMOTE_SERVICES_NETWORK_DATA" type="RemoteServicesNetworkDataType"/>
	<xs:element name="CONFIG_DATA">
		<xs:annotation>
			<xs:documentation source="2.0.0">Contains the location of the XML-Configuration of the node and all data needed by RPS to open the local configuration data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation source="2.0.0">Dual interface: Two alternative ways of including the local configuration of a panel. </xs:documentation>
					</xs:annotation>
					<xs:element name="xmlLocation" type="xs:string">
						<xs:annotation>
							<xs:documentation source="2.0.0">Path of the configuration xml file containing the local node configuration. This shall be the XML-tree of the V1.x.x structure starting at the element 'LOCAL_CONFIGURATION'. If the element is empty the node does not contain a local configuration yet.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="LOCAL_CONFIGURATION"/>
				</xs:choice>
				<xs:element ref="RK_DATA" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONFIG_NETWORK">
		<xs:annotation>
			<xs:documentation source="2.5.0">Copied from 2.1.0 revision 1.4</xs:documentation>
			<xs:documentation source="2.6.0">Copied from 2.5.0 revision 1.5</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HEADER">
					<xs:annotation>
						<xs:documentation source="2.0.0">As in the V 1.x.x configurations</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="NETWORK_INFO">
					<xs:annotation>
						<xs:documentation source="2.0.0">Information regarding the network itself like name, description etc. which is not yet defined in the existing local panel configurations but must be present in each panel.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CUSTOMER_INFO"/>
				<xs:element ref="SUPPORT_INFO"/>
				<xs:element ref="REMOTE_SERVICES_NETWORK_DATA" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="2.13.0">PRELIM optional</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="LZ_STATE_MAPPING" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Must not be inserted by conversion, is inserted by RPS  if neccessary</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="NODES">
					<xs:annotation>
						<xs:documentation source="2.0.0">All nodes which are participants in a network. This can be panels or other devices with a logical netID. External modules are not considered as nodes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="SWITCHES" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
			<xs:attribute name="panelEncoding" type="encodingType" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONNECTABLE">
		<xs:annotation>
			<xs:documentation source="2.0.1">Is only present if Node is of type RemoteKeypad</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="CONNECTABLE_PANEL">
					<xs:complexType>
						<xs:group ref="LogicalNetAddr"/>
						<xs:attributeGroup ref="generalAttributeGroup"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CUSTOMER_INFO" type="CUSTOMER_INFOType">
		<xs:annotation>
			<xs:documentation source="2.0.0">Structure as  in the V 1.x.x configurations. The data will be copied to the local configurations and loaded to each panel, but it has the same contents for the whole network and shall be entered in the network part of RPS.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ETHERNET_PARAM" type="ETHERNET_PARAMType"/>
	<xs:element name="EXPORTS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="netCRC" minOccurs="0"/>
				<xs:element ref="REPLICATED_SIS" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="2.0.0">All SIIDs which are replicated to one or more remote nodes. This list is filled whenever an SIID is marked as replicated in the local panel configuration.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="REPLICATED_COUNTERS" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="2.0.0">All Counters, which are replicated to one or more remote nodes.  This list is filled whenever a counter is marked as replicated in the local panel configuration.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IMPORTS">
		<xs:annotation>
			<xs:documentation source="2.0.0">The network part of the local panel configuration is created from this import lists. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="netCRC" minOccurs="0"/>
				<xs:element ref="USED_SIS" minOccurs="0"/>
				<xs:element ref="USED_COUNTERS" minOccurs="0"/>
				<xs:element ref="USED_OFFSET_TABLES" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LOCAL_CONFIGURATION">
		<xs:annotation>
			<xs:documentation source="2.0.0">Starting point for the lcocal configuration subtree or root for standalone local configurations.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="LOCAL_CONFIGURATIONType">
					<xs:attribute name="panelEncoding" type="encodingType" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LZ_STATE_MAPPING">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CONFIGURED_MAPPINGS"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MTS_NODE">
		<xs:complexType>
			<xs:group ref="LogicalNetAddr"/>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NET_GROUP" type="NET_GROUPType"/>
	<xs:element name="NET_GROUPS">
		<xs:complexType>
			<xs:sequence maxOccurs="255">
				<xs:element ref="NET_GROUP"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NET_INTERFACE">
		<xs:annotation>
			<xs:documentation source="2.0.4">messagefilter is dropped, CAN_PARAM is added in V2.0.4</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="NET_INTERFACEType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NET_INTERFACES">
		<xs:annotation>
			<xs:documentation source="2.0.0">Physical interfaces of a node</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="NET_INTERFACE"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="netCRC" type="netCRCType">
		<xs:annotation>
			<xs:documentation source="2.0.0">CRC16 as decimal unsigned short</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NETWORK_INFO">
		<xs:annotation>
			<xs:documentation source="2.0.0">Information regarding the network itself like name, description etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="label" type="labelTextType"/>
				<xs:element name="note" type="noteType"/>
				<xs:element name="bypassNACsRange" default="BPR_ALL">
					<xs:annotation>
						<xs:documentation source="2.1.1">implemented in 2.1.1</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="BPR_ALL"/>
							<xs:enumeration value="BPR_SINGLE"/>
							<xs:enumeration value="BPR_GROUP"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="activateFireExt" type="yesnoType" default="ST_YES" minOccurs="0" maxOccurs="1"/>
				<xs:element name="allowDetectorRemoval" type="yesnoType" default="ST_NO" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NODE" type="NODEType"/>
	<xs:element name="NODES">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="netCRC" minOccurs="0"/>
				<xs:element ref="NODE"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
		<!--
    <xs:key name="RsnKey">
      <xs:selector xpath="NODE"/>
      <xs:field xpath="rsn"/>
    </xs:key>
    <xs:key name="ReplSIKey">
      <xs:selector xpath="NODE/EXPORTS/REPLICATED_SIS/REPLICATED_SI"/>
      <xs:field xpath="netIdent"/>
    </xs:key>
    <xs:keyref name="ReplSIKeyRef" refer="ReplSIKey">
      <xs:selector xpath="NODE/IMPORTS/USED_SIS/USED_SI"/>
      <xs:field xpath="netIdent"/>
    </xs:keyref>
    <xs:key name="ReplCounterKey">
      <xs:selector xpath="NODE/EXPORTS/REPLICATED_COUNTERS/REPLICATED_COUNTER"/>
      <xs:field xpath="netIdent"/>
    </xs:key>
    <xs:keyref name="ReplCounterKeyRef" refer="ReplCounterKey">
      <xs:selector xpath="NODE/IMPORTS/USED_COUNTERS/USED_COUNTER"/>
      <xs:field xpath="netIdent"/>
    </xs:keyref>
    <xs:key name="PrinterKey">
      <xs:selector xpath="NODE/EXPORTS/NET_PRINTERS/NET_PRINTER"/>
      <xs:field xpath="netIdent"/>
    </xs:key>
    <xs:keyref name="PrinterKeyRef" refer="PrinterKey">
      <xs:selector xpath="NODE/IMPORTS/USED_PRINTERS/USED_PRINTER"/>
      <xs:field xpath="netIdent"/>
    </xs:keyref>
    <xs:key name="FATKey">
      <xs:selector xpath="NODE/EXPORTS/NET_FATS/NET_FAT"/>
      <xs:field xpath="netIdent"/>
    </xs:key>
    <xs:keyref name="FATKeyRef" refer="FATKey">
      <xs:selector xpath="NODE/IMPORTS/USED_FATS/USED_FAT"/>
      <xs:field xpath="netIdent"/>
    </xs:keyref>
    <xs:key name="FBFKey">
      <xs:selector xpath="NODE/EXPORTS/NET_FBFS/NET_FBF"/>
      <xs:field xpath="netIdent"/>
    </xs:key>
    <xs:keyref name="FBFKeyRef" refer="FBFKey">
      <xs:selector xpath="NODE/IMPORTS/USED_FBFS/USED_FBF"/>
      <xs:field xpath="netIdent"/>
    </xs:keyref>
-->
	</xs:element>
	<xs:element name="OFFSET_TABLE" type="ADDROFFSET_TABLEType"/>
	<xs:element name="OPCSERVER">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="netGroup" type="xs:unsignedByte"/>
				<xs:element name="netNode" type="xs:unsignedByte"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PORT" type="PORTType"/>
	<xs:element name="PORTS">
		<xs:complexType>
			<xs:sequence maxOccurs="128">
				<xs:element ref="PORT"/>
			</xs:sequence>
			<xs:attributeGroup ref="generalAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="REPLICATED_COUNTER">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="REPLICATED_COUNTERType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="REPLICATED_COUNTERS">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="REPLICATED_COUNTER"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="REPLICATED_SI" type="REPLICATED_SIType"/>
	<xs:element name="REPLICATED_SIS">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="REPLICATED_SI"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RK_DATA">
		<xs:annotation>
			<xs:documentation source="2.0.2">Special data for panels acting as remote keypad</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RK_DATAType">
					<xs:attributeGroup ref="netGeneralAttributeGroup"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPANNING_TREE" type="SPANNING_TREEType"/>
	<xs:element name="SUPPORT_INFO" type="SUPPORT_INFOType">
		<xs:annotation>
			<xs:documentation source="2.0.0">As in the V 1.x.x configurations. See CUSTOMER_INFO</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SWITCH" type="SWITCHType"/>
	<xs:element name="SWITCHES">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SWITCH"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="USED_COUNTER" type="USED_COUNTERType"/>
	<xs:element name="USED_COUNTERS">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="USED_COUNTER"/>
			</xs:sequence>
			<xs:attributeGroup ref="generalAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="USED_OFFSET_TABLE">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="LogicalNetAddr"/>
				<xs:element ref="OFFSET_TABLE"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="USED_OFFSET_TABLES">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="USED_OFFSET_TABLE"/>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="USED_SI" type="USED_SIType"/>
	<xs:element name="USED_SIS">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="USED_SI">
					<xs:annotation>
						<xs:documentation source="2.0.0"/>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CAN_PARAMType">
		<xs:sequence>
			<xs:element name="bitRate" type="xs:unsignedLong" default="41666"/>
			<xs:element name="propagationSegment" type="xs:unsignedByte" default="11"/>
			<xs:element name="phaseSegment1" type="xs:unsignedByte" default="2"/>
			<xs:element name="phaseSegment2" type="xs:unsignedByte" default="2"/>
			<xs:element name="synchronizationJumpWidth" type="xs:unsignedByte" default="2"/>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="InterfacePanelType">
		<xs:annotation>
			<xs:documentation source="2.15.0"/>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="LogicalNetAddr"/>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="P2PType">
		<xs:annotation>
			<xs:documentation source="2.15.0"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ipAddress" type="ipAddressType"/>
			<xs:element name="portNumber" type="portNumberType" default="80"/>
			<xs:element name="networkId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="crl" type="ipAddressType"/>
			<xs:element name="isAutoAnswerEnabled" type="yesnoType" default="ST_NO"/>
			<xs:element name="isRemoteMaintenanceEnabled" type="yesnoType" default="ST_NO"/>
			<xs:element name="isRemoteAlertEnabled" type="yesnoType" default="ST_NO"/>
			<xs:element name="INTERFACE_PANEL" type="InterfacePanelType"/>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="RemoteServicesNetworkDataType">
		<xs:sequence>
			<xs:element name="RemoteServicesType" default="NONE">
				<xs:annotation>
					<xs:documentation source="2.15.0"/>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="NONE"/>
						<xs:enumeration value="REMOTE_PORTAL"/>
						<xs:enumeration value="PRIVATE_SECURE_NETWORK"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CLOUD_DATA" type="CloudDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="2.13.2"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="P2P_DATA" type="P2PType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="2.13.2"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="CloudDataType">
		<xs:sequence>
			<xs:element name="ipAddress" type="ipAddressType" default="172.31.31.1"/>
			<xs:element name="portNumber" type="portNumberType" default="8080"/>
			<xs:element name="siteName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="crl" type="ipAddressType" default="172.31.31.1"/>
			<xs:element name="isAutoAnswerEnabled" type="yesnoType" default="ST_NO"/>
			<xs:element name="isRemoteMaintenanceEnabled" type="yesnoType" default="ST_NO"/>
			<xs:element name="isRemoteAlertEnabled" type="yesnoType" default="ST_NO"/>
			<xs:element name="INTERFACE_PANEL" type="InterfacePanelType"/>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="ETHERNET_PARAMType">
		<xs:sequence>
			<xs:element name="lineType" type="ethernetLineType" default="CONNECTED_TO_LINK"/>
			<xs:element name="speedAndDuplex" type="speedAndDuplexType" default="Auto">
				<xs:annotation>
					<xs:documentation source="2.8.1">Expert Setting (configurable in hidden Dialog)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flowControl" type="flowControlType" default="Disabled">
				<xs:annotation>
					<xs:documentation source="2.8.1">XML-only parameter (Not in GUI)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STP_PathCost" default="200000">
				<xs:annotation>
					<xs:documentation source="2.8.2">Expert Setting (configurable in hidden Dialog)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="200000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="STP_PortPriority" default="128">
				<xs:annotation>
					<xs:documentation source="2.8.2">Expert Setting (configurable in hidden Dialog)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RSTP_LinkType" default="AUTO">
				<xs:annotation>
					<xs:documentation source="2.8.2">Expert Setting (configurable in hidden Dialog)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="AUTO"/>
						<xs:enumeration value="POINT_TO_POINT"/>
						<xs:enumeration value="SHARED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="LOCAL_CONFIGURATIONType">
		<xs:sequence>
			<xs:element ref="HEADER" minOccurs="0"/>
			<xs:element ref="PANEL"/>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="NET_GROUPType">
		<xs:sequence>
			<xs:element name="netGroup" type="xs:unsignedByte"/>
			<xs:element name="SIS_USED_BY_GROUP">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="globalID" type="globalSIIDType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NET_INTERFACEType">
		<xs:annotation>
			<xs:documentation source="2.0.0">new in 2.0.0</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="netLineTypeType">
				<xs:annotation>
					<xs:documentation source="2.0.0">CAN or ETHERNET</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceNbr" default="0">
				<xs:annotation>
					<xs:documentation source="2.0.0">A consecutive number for identifying the interface. 0 is unused.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="interfaceNbrType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="connectedToNetlineNbr" type="netLineNumberType">
				<xs:annotation>
					<xs:documentation source="2.0.0">the net-line the interface is connected to</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isUsed" type="yesnoType" default="ST_NO">
				<xs:annotation>
					<xs:documentation source="2.8.2">new in 2.8.2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation source="2.8.1">Depending on the value of type the subelement is 
if type = 'CAN' - CAN_PARAM
if type = 'ETHERNET' - ETHERNET_PARAM</xs:documentation>
				</xs:annotation>
				<xs:element ref="CAN_PARAM"/>
				<xs:element ref="ETHERNET_PARAM"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="NODEType">
		<xs:sequence>
			<xs:element name="netLocalCRC" type="netCRCType" default="0">
				<xs:annotation>
					<xs:documentation source="2.0.5">CRC16 as decimal unsigned short</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="LogicalNetAddr"/>
			<xs:element name="rsn">
				<xs:annotation>
					<xs:documentation source="2.0.0">Rotary switch number is unique in a network. It is not used for addressing. Each node has a physNodeID for addressing which is related 1:1 to the rsn.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="rsnType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nodeType" type="nodeTypeType" default="FPA5000">
				<xs:annotation>
					<xs:documentation source="2.0.0">The type of node, FPA5000, FPA5000_RK, OPC_SERVER</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scope" type="scopeType" default="GROUP">
				<xs:annotation>
					<xs:documentation source="2.0.0">Defines the network-role of the panel can be LOCAL, GROUP or NETWORK.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displayNetworkStates" type="yesnoType" default="ST_YES">
				<xs:annotation>
					<xs:documentation source="2.0.2">If set network states are displayed in the panel even if the scope is GROUP or LOCAL.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="labelTextType"/>
			<xs:element name="ipAddress" type="ipAddressType"/>
			<xs:element name="subnetMask" type="ipAddressType"/>
			<xs:element name="gateway" type="ipAddressType"/>
			<xs:element name="multicastAddress" type="ipAddressType">
				<xs:annotation>
					<xs:documentation source="2.8.1"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="portNumber" type="portNumberType">
				<xs:annotation>
					<xs:documentation source="2.8.1"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="useEthernetSettings" type="yesnoType" default="ST_NO">
				<xs:annotation>
					<xs:documentation source="2.8.2">new in 2.8.2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syncRequired" type="yesnoType" default="ST_NO">
				<xs:annotation>
					<xs:documentation source="2.0.5">This flag is normally set to ST_NO. For panel-nodes with scope network which have an FBF configured in the local configuration the flag is ST_YES. This indicates for other nodes of scope group that they have to ask this network node for synchronization too although not in the same group and scope.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="showEthernetRxOverloadWarning" type="yesnoType" default="ST_YES" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="2.8.5">new in 2.9.2
values can be ST_YES or ST_NO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usePanelNetworkingOverIP" type="yesnoType" default="ST_YES" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="2.8.5">new in 2.9
values can be ST_YES or ST_NO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SPANNING_TREE" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="2.8.2">new in 2.8.2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="NET_INTERFACES" minOccurs="0"/>
			<xs:element ref="EXPORTS" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="2.0.0">The lists of all items which will be replicated to other nodes or are special devices to be used (shared) by other nodes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="IMPORTS" minOccurs="0"/>
			<xs:element ref="ASSIGNED_OPCSVRS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>OPC-Servers can be assigned to a node of type FPA5000 and FPA5000_RK.
At the moment only one OPC-Server may be assigned to a node. The number of assigned servers might be increased later.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ASSIGNED_MTS_NODES" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="2.5.0">Other nodes with an MTS-interfaces(UGM) can be assigned to a node. This information is needed by the node as gateway for MTS-packages. At the moment only one (MTS)-node may be assigned to a node. The number of assigned nodes might be increased later.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CONNECTABLE" minOccurs="0"/>
			<xs:element ref="CONFIG_DATA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the location of the XML-Configuration of the node and all data needed by RPS to open the local configuration data. If the element has no subelement, the node has no configuration yet and serves as placeholder.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="PORTType">
		<xs:sequence>
			<xs:element name="portNumber" type="portType"/>
			<xs:element name="connectedToNetlineNbr" type="netLineNumberType"/>
			<xs:element name="lineType" type="ethernetLineType"/>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="REPLICATED_COUNTERType">
		<xs:sequence>
			<xs:element name="globalID" type="globalCounterIDType"/>
			<xs:element name="label" type="labelTextType"/>
			<xs:element name="scope" type="scopeType" default="GROUP"/>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		<xs:attribute name="looksAt" type="xs:string" use="optional"/>
		<xs:attribute name="countCondition" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPLICATED_SIType">
		<xs:sequence>
			<xs:element name="globalID" type="globalSIIDType">
				<xs:annotation>
					<xs:documentation source="2.0.0">The qualified SIID (containing group and node number) the state of which is replicated to other panels in the network.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="labelTextType">
				<xs:annotation>
					<xs:documentation source="2.0.0">The label of the SI as it is stored in the local Configuration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scope" type="scopeType" default="GROUP">
				<xs:annotation>
					<xs:documentation source="2.0.0">The scope of replication. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
		<xs:attribute name="looksAt" type="xs:string" use="optional"/>
		<xs:attribute name="countCondition" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RK_DATAType">
		<xs:annotation>
			<xs:documentation source="2.0.1">Remote Keypad Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dedicatedNetGroup" type="xs:unsignedByte"/>
			<xs:element name="dedicatedNetNode" type="xs:unsignedByte"/>
			<xs:element name="showReportsInLockedState" type="yesnoType" default="ST_YES">
				<xs:annotation>
					<xs:documentation source="2.0.3">implemented in 2.0.3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SPANNING_TREEType">
		<xs:sequence>
			<xs:element name="redundancyMode" default="OFF">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="OFF"/>
						<xs:enumeration value="RSTP"/>
						<xs:enumeration value="DUAL_HOMING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="STP_BridgePriority" default="32768">
				<xs:annotation>
					<xs:documentation source="2.8.2">applies only in case redundancyMode=RSTP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="61440"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="STP_HelloTime" default="2">
				<xs:annotation>
					<xs:documentation source="2.8.2">applies only in case redundancyMode=RSTP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="STP_MaxAge" default="20">
				<xs:annotation>
					<xs:documentation source="2.8.2">applies only in case redundancyMode=RSTP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="6"/>
						<xs:maxInclusive value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="STP_ForwardDelay" default="15">
				<xs:annotation>
					<xs:documentation source="2.8.2">applies only in case redundancyMode=RSTP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="4"/>
						<xs:maxInclusive value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="SWITCHType">
		<xs:sequence>
			<xs:element name="description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="51"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="number">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="PORTS"/>
		</xs:sequence>
		<xs:attributeGroup ref="netGeneralAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="USED_COUNTERType">
		<xs:sequence>
			<xs:element name="localID" type="localCounterIDType"/>
			<xs:element name="globalID" type="globalCounterIDType"/>
		</xs:sequence>
		<xs:attributeGroup ref="generalAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="USED_SIType">
		<xs:sequence>
			<xs:element name="localID">
				<xs:annotation>
					<xs:documentation source="2.0.0">This is an SIID that acts as alias for the replicated remote SI(in globalID) inside the using panel. It has to be unique in the address space of the local panel.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="localSIIDType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="globalID">
				<xs:annotation>
					<xs:documentation source="2.0.0">The qualified SIID (containing group and node number) the state of which is used in the local panel as source of rules.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="globalSIIDType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FAT_OFFSET_TABLE" type="ADDROFFSET_TABLEType" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="generalAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="ethernetLineType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CONNECTED_TO_LINK"/>
			<xs:enumeration value="CONNECTED_TO_NETWORK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="flowControlType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Auto"/>
			<xs:enumeration value="Disabled"/>
			<xs:enumeration value="RXPause"/>
			<xs:enumeration value="TXPause"/>
			<xs:enumeration value="RXTXPause"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="globalCounterIDType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.COUNTER\.[0-9]{1,5}\.[0-9]{1,3}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="globalSIIDType">
		<xs:annotation>
			<xs:documentation source="2.0.0">composed like 'netGroup.netNode.SI_Type.number.subnumber' e.g. 1.2.MP_SI_POINT.100.1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.MP_SI_[A-Z_]+\.[0-9]{1,5}\.[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="interfaceNbrType">
		<xs:annotation>
			<xs:documentation source="2.0.0">0 -255, 0 = unused</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="localCounterIDType">
		<xs:restriction base="xs:unsignedShort"/>
	</xs:simpleType>
	<xs:simpleType name="localSIIDType">
		<xs:annotation>
			<xs:documentation source="2.0.0">composed like SI_Type.number.subnumber' e.g. MP_SI_POINT.100.1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="MP_SI_[A-Z_]+\.[0-9]{1,5}\.[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="logicalNodeIDListType">
		<xs:annotation>
			<xs:documentation source="2.0.0">list of logicalNodeIDs</xs:documentation>
		</xs:annotation>
		<xs:list itemType="logicalNodeIDType"/>
	</xs:simpleType>
	<xs:simpleType name="logicalNodeIDType">
		<xs:annotation>
			<xs:documentation source="2.0.0">composed of 1-3 digits for netGroup a dot and 1-3 digits for netNode (e.g. 3.40)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="messageFilterType">
		<xs:annotation>
			<xs:documentation source="2.0.0">not yet defined</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="netCRCType">
		<xs:annotation>
			<xs:documentation>CRC as decimal unsigned short</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:unsignedShort">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="netIdentType">
		<xs:annotation>
			<xs:documentation source="2.0.0">may contain netSIIDType or empty string if not yet resolved</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="globalSIIDType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="netLineNumberType">
		<xs:annotation>
			<xs:documentation source="2.0.0">unsigned short, 0 = unused</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort"/>
	</xs:simpleType>
	<xs:simpleType name="netLineTypeType">
		<xs:annotation>
			<xs:documentation source="2.0.0">CAN or ETHERNET</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CAN"/>
			<xs:enumeration value="ETHERNET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeTypeType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="FPA5000"/>
			<xs:enumeration value="FPA5000_RK"/>
			<xs:enumeration value="FPA1200_EN"/>
			<xs:enumeration value="OPC_SERVER"/>
			<xs:enumeration value="MCP_SERVER"/>
			<xs:enumeration value="FSI_SERVER"/>
			<xs:enumeration value="FPA5000-C"/>
			<xs:enumeration value="FPA5000_RK-C"/>
			<xs:enumeration value="FPA1200_EN-C"/>
			<xs:enumeration value="FPA1100_EN-C"/>
			<xs:enumeration value="AVENAR_8000IP"/>
			<xs:enumeration value="AVENAR_2000IP"/>
			<xs:enumeration value="FPA1100-4"/>
			<xs:enumeration value="FMR_8000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rsnType">
		<xs:annotation>
			<xs:documentation source="2.0.0">unsigned short, not yet defined if values > 255 are allowed</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="speedAndDuplexType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Auto"/>
			<xs:enumeration value="10MbFull"/>
			<xs:enumeration value="10MbHalf"/>
			<xs:enumeration value="100MbFull"/>
			<xs:enumeration value="100MbHalf"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="LogicalNetAddr">
		<xs:annotation>
			<xs:documentation source="2.0.2">elements: netGroup netNode
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="netGroup" type="xs:unsignedByte"/>
			<xs:element name="netNode" type="xs:unsignedByte"/>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="netGeneralAttributeGroup">
		<xs:attribute name="rpsDisplayName" type="xs:string" use="optional"/>
		<xs:attribute name="Checkdate" type="xs:string" use="optional"/>
	</xs:attributeGroup>
</xs:schema>
