storage/xsl/CONV_Elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ConventionalDevices">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CONV_DEVICE" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string"/>
		</xs:complexType>
		<xs:unique name="DetClassUnique">
			<xs:selector xpath="CONV_DEVICE/detectorClass"/>
			<xs:field xpath="."/>
		</xs:unique>
	</xs:element>
	<xs:element name="CONV_DEVICE">
		<xs:annotation>
			<xs:documentation>One for each Conv-Device</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CONV_DEVICEType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FOUR_WIREType">
		<xs:sequence>
			<xs:element name="U_LoadMin" type="xs:float">
				<xs:annotation>
					<xs:documentation>unit = Volt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="I_LoadMax" type="xs:float">
				<xs:annotation>
					<xs:documentation>unit = mA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="I_LoadNom" type="xs:float">
				<xs:annotation>
					<xs:documentation>unit = mA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="P_LoadMax" type="xs:float">
				<xs:annotation>
					<xs:documentation>unit = Watt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="connectableAUXGroup"/>
	</xs:complexType>
	<xs:complexType name="CONV_DEVICEType">
		<xs:sequence>
			<xs:element name="name" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>the name as displayed in the selction of the dialog</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="lang" type="xs:language" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="automaticDetectors" type="yesNoType">
				<xs:annotation>
					<xs:documentation>is automatic detector or not</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cleanMeSupported" type="yesNoType">
				<xs:annotation>
					<xs:documentation>does the detector support the cleanMe feature, if not the cleanMe-Flag can not be switched.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fourWire" type="yesNoType"/>
			<xs:element name="detectorClass" type="xs:byte">
				<xs:annotation>
					<xs:documentation>is a numeric unique identifier of the detectortype</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alarmResistance" type="xs:short"/>
			<xs:element name="detectorStandByCurrent" type="xs:short"/>
			<xs:element name="FOUR_WIRE" type="FOUR_WIREType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Is present only for 4-Wire elements wich can be used with en54-13 EOL</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="connectablePLGroup"/>
	</xs:complexType>
	<xs:attributeGroup name="connectablePLGroup">
		<xs:annotation>
			<xs:documentation>Not all devices can be connected to CZM and LSN_CONV</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CZM" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>indicates if the element can be connected to CZM</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LSN_CONV" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>indicates if the element can be connected to LSN_CONV</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CZM_5413" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Can be used if en-5413 is enabled on CZM</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LSN_CONV_5413" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Can be used if en-5413 is enabled on LSN_CONV</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IS_5413_ONLY" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Available only when EN-5413 is enabled</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="connectableAUXGroup">
		<xs:annotation>
			<xs:documentation>Not all 4-wire devices can be supported by all AUX/POuts</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LSN_AUX" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>connectable to LSN-Auxilary line</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BCMB_POUT" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>connectable to BCMB-POut</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI13_POUT" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>connectable to TI13-POut</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:simpleType name="yesNoType">
		<xs:restriction base="xs:NMTOKENS">
			<xs:enumeration value="ST_NO"/>
			<xs:enumeration value="ST_YES"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
