storage/xsl/LSN_Elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attributeGroup name="connectableAUXGroup">
    <xs:annotation>
      <xs:documentation>Not all 4-wire devices can be supported by all AUX/POuts</xs:documentation>
    </xs:annotation>
    <xs:attribute name="LSN_AUX" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>connectable to LSN-Auxilary line</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BCMB_POUT" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>connectable to BCMB-POut</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TI13_POUT" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>connectable to TI13-POut</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="LSNDevices">
    <xs:annotation>
      <xs:documentation>Root Element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="T_LSNDevices">
          <xs:sequence>
            <xs:group ref="DeviceGroup" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="version" type="xs:string"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="LSN_DEVICE" type="T_LSN_DEVICE">
    <xs:annotation>
      <xs:documentation>One for each LSN-Device</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FOUR_WIRE" type="FOUR_WIREType"/>
  <xs:complexType name="T_LSN_DEVICE">
    <xs:sequence>
      <xs:element name="officialName" type="xs:string"/>
      <xs:element name="elementName" type="xs:NMTOKEN">
        <xs:annotation>
          <xs:documentation>XML-name as used in the configuration files.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lsnTypeID" type="hexByte">
        <xs:annotation>
          <xs:documentation>hexadecimal value in C-notation e.g. 0x1f or 0X1F</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lsnSubtype" type="subTypeType">
        <xs:annotation>
          <xs:documentation>hexadecimal value in C-notation e.g. 0x1f or 0X1F or empty</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="power" type="xs:float">
        <xs:annotation>
          <xs:documentation>power consumption, unit is mA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="FOUR_WIRE" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Is present only for 4-Wire elements wich can be used with EOL4W</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>documentation and for future use</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:language"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="idx" type="xs:integer" use="required">
      <xs:annotation>
        <xs:documentation>index of entry</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="en5413" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>can be used if EN54-13 compliance is enabled</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="improved" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>can be used if LSN-improved is enabled</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fourWire" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>is fourwire device</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="eol4W" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>fourwire-device which can be supervised by an EOL4W</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EN" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>set if device is EN applicable</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="UL" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>set if device is UL applicable</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="supportLEDBlinking" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>set if device supports LED blinking via RPS</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="condition" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>condition for elements with two different lsnTypeIDs e.g. FLM-420-RHV</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="T_LSNDevices"/>
  <xs:complexType name="FOUR_WIREType">
    <xs:sequence>
      <xs:element name="U_LoadMin" type="xs:float">
        <xs:annotation>
          <xs:documentation>unit = Volt</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="I_LoadMax" type="xs:float">
        <xs:annotation>
          <xs:documentation>unit = mA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="I_LoadNom" type="xs:float">
        <xs:annotation>
          <xs:documentation>unit = mA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="P_LoadMax" type="xs:float">
        <xs:annotation>
          <xs:documentation>unit = Watt</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="connectableAUXGroup"/>
  </xs:complexType>
  <xs:simpleType name="hexByte">
    <xs:annotation>
      <xs:documentation>hexvalue in 0x notation</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="0[xX][0-9,a-f,A-F]{1,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subTypeType">
    <xs:annotation>
      <xs:documentation>hexvalue in 0x notation or empty</xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="hexByte"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:group name="DeviceGroup">
    <xs:choice>
      <xs:element ref="LSN_DEVICE"/>
      <xs:element ref="EXTERNAL_DEVICE"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="EXTERNAL_DEVICEType">
    <xs:sequence>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="officialName" type="xs:string"/>
      <xs:element ref="FOUR_WIRE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EXTERNAL_DEVICE" type="EXTERNAL_DEVICEType"/>
</xs:schema>
