storage/xsl/TrafoValidate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Michael Ziegel (Birnbaum & Ziegel GmbH) -->
<!--
BOSCH Security Systems (Ottobrunn)

Project: Magic.Panel

Author: Michael Ziegel

Created: 01.10.2005

$Archive:   //ot1esw2/MagicPanel/PVCS MP-SW/archives/MP_SW/MP_PC_SW/Transformer/Conversion/Validation/TrafoValidate.xsd-arc  $  

$Revision: 1.11 $ 

Last locked:   $Date: 2008/12/15 14:52:55CET $

Last change by $Author: Michael Ziegel (zi82ot) $

History: 
$Log: Validation/TrafoValidate.xsd  $
Revision 1.11 2008/12/15 14:52:55CET Michael Ziegel (zi82ot) 
Member moved from Conversion/Validation/TrafoValidate.xsd in project f:/MKS_Repository/Fire/MagicPanel/Source/PCTools/Transformer/Transformer.pj to Validation/TrafoValidate.xsd in project f:/MKS_Repository/Fire/MagicPanel/Source/PCTools/RPSTools/XMLSupport/XMLSupport.pj.
Revision 1.10 2008/12/15 14:52:55CET Michael Ziegel (zi82ot) 
2.5.0 support
Revision 1.9 2008/09/26 16:20:25CEST Michael Ziegel (zi82ot) 
version = Revision
Revision 1.8 2007/09/27 13:57:45CEST zi82ot 
TestEngine added
Revision 1.7 2006/12/04 15:46:31CET zi82ot 
Preprocessing only implemented
Revision 1.6 2006/09/19 14:36:12CEST zi82ot 
Global descripton dropped, not used
Revision 1.5 2006/09/13 16:53:33CEST zi82ot 
Preactions introduced
Revision 1.4 2006/04/06 18:06:13CEST zi82ot 
TrafoValidate performs preprocessing in validation step
Revision 1.3 2006/03/27 14:19:37CEST admin 
PVCs current 270306

   Rev 1.5   Mar 09 2006 15:25:48   Ziegel
global MESSAGETEXTS

   Rev 1.4   Feb 27 2006 13:51:28   Ziegel
logfile implemented

   Rev 1.3   Feb 21 2006 09:47:38   Ziegel
new compare op syntax

   Rev 1.2   Feb 06 2006 12:08:04   Ziegel
from- or toVersion in Trigger may contain greater or less

   Rev 1.1   Nov 10 2005 11:05:46   Ziegel
multiple descriptions

   Rev 1.0   Oct 19 2005 16:00:48   Ziegel
Initial revision.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 1.11 $">
  <xs:element name="TrafoValidate">
    <xs:annotation>
      <xs:documentation>The actions performed by TrafoValidate.dll are controlled by TrafoValidate.xml.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Logfile">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string"/>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="SchemaLocation" type="xs:string">
          <xs:annotation>
            <xs:documentation>the directory, where all used schema files are located</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="SchemaFilenameMask" type="xs:string">
          <xs:annotation>
            <xs:documentation>the begiining of the schema filename without the version part: for main-1-0-0.xsd 'main-' is  to be stored here</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="XSLTLocation" type="xs:string">
          <xs:annotation>
            <xs:documentation>the directory wher all conversion XSLT-files are located</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TestEngine" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dataRootBCN" type="xs:string"/>
              <xs:element name="dataRootENetz" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="enabled" type="xs:boolean" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="TRIGGERS">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Trigger">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="TriggerType"/>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CONDITIONS">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="Condition">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="ConditionType"/>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ACTIONS">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="Action">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="ActionType"/>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="MESSAGETEXTS"/>
        <xs:element ref="SupportedLanguages"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TriggerType">
    <xs:sequence>
      <xs:element name="description" type="DescriptionType"/>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="VALIDATION"/>
            <xs:enumeration value="CONVERSION"/>
            <xs:enumeration value="PREPROCESSING"/>
            <xs:enumeration value="PREPROCESSING_ONLY"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fromVersion" type="versionType">
        <xs:annotation>
          <xs:documentation>the schema version of the actual XML-file which will be validated or converted</xs:documentation>
          <xs:documentation source="1.2.0">fromVersion may contain version or 'greater', 'less', '*'. 'greater' or 'less' evaluates the given from-version against the trigger-toVersion (which must have distinct value in this case)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="toVersion" type="versionType">
        <xs:annotation>
          <xs:documentation>the schema version to be used for validation or convertion</xs:documentation>
          <xs:documentation source="1.2.0">toVersion may contain version or 'greater', 'less', '*'. 'greater' or 'less' evaluates the given to-version against the trigger-fromVersion (which must have distinct value in this case)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID" use="optional"/>
    <xs:attribute name="conditionRef" type="xs:NMTOKENS" use="optional"/>
    <xs:attribute name="actionRef" type="xs:IDREF" use="required"/>
    <xs:attribute name="preactionRef" type="xs:IDREF" use="optional"/>
  </xs:complexType>
  <xs:simpleType name="versionType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[lgteq\s]*[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="ActionType">
    <xs:sequence>
      <xs:element name="description" type="DescriptionType"/>
      <xs:element name="type" default="DISPLAY_ERROR">
        <xs:annotation>
          <xs:documentation>The enumeration values must not be changed. They are implemented in TrafoValidate.dll accordingly.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="DISPLAY_ERROR"/>
            <xs:enumeration value="DISPLAY_WARNING"/>
            <xs:enumeration value="AUTO_CONVERSION"/>
            <xs:enumeration value="PRE_CONVERSION_TEST"/>
            <xs:enumeration value="LOG_PARSE_ERROR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="actionfile" type="xs:string"/>
      <xs:element name="parameter" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID" use="required"/>
    <xs:attribute name="messageTextRef" type="xs:NMTOKENS" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ConditionType">
    <xs:sequence>
      <xs:element name="description" type="DescriptionType"/>
      <xs:element name="type">
        <xs:annotation>
          <xs:documentation>The enumeration values must not be changed. They are implemented in TrafoValidate.dll accordingly.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="CONTAINS_IDENT_TOKEN"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="identificationToken" type="xs:string"/>
      <xs:element name="errorNumber" type="xs:unsignedLong"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID" use="required"/>
  </xs:complexType>
  <xs:complexType name="DescriptionType">
    <xs:annotation>
      <xs:documentation>of basetype xs:string with attributes lang and version</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language" use="optional"/>
        <xs:attribute name="version" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MessageTextType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="LocalizedText" type="TextType"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID" use="required"/>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="lang" type="xs:language" use="required"/>
  </xs:complexType>
  <xs:element name="MESSAGETEXTS">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="MessageText" type="MessageTextType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="SupportedLanguages">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="language">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:language"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element></xs:schema>
